{
  "prettier.endOfLine": "lf",
  "prettier.htmlWhitespaceSensitivity": "css",
  "prettier.insertPragma": false,
  "prettier.requireConfig": false,
  "prettier.arrowParens": "avoid",
  "prettier.bracketSpacing": true,
  "prettier.enable": true,
  "prettier.jsxSingleQuote": false,
  "prettier.printWidth": 69,
  "prettier.proseWrap": "preserve",
  "prettier.quoteProps": "as-needed",
  "prettier.semi": true,
  "prettier.singleAttributePerLine": true,
  "prettier.singleQuote": false,
  "prettier.tabWidth": 2,
  "prettier.trailingComma": "es5",
  "prettier.useTabs": true
}
